[Unit]
Description=Check Republic service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=joe
ExecStart=/usr/bin/env lua /home/joe/code/me/check-republic/src/main.lua
